@tailwind base;
@tailwind components;
@tailwind utilities;

main {
    padding-top: 10rem !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

h1 { font-size: 5rem !important; margin-bottom: 2rem !important; line-height: 1.2; }
p { line-height: 2 !important; max-width: 800px; font-size: 1.25rem; }
